@CHARSET "UTF-8";
header,footer{
    background:black;
    height:auto;
   color:white;
   
}
footer{
    margin-top:20px;
    clear:both;
}
*{
    padding:0px;
    margin:0;
}
#htext{
    padding:10px;
    display:inline-block;
    width:80%;
    font-size:4.5em;
}
#hlogo{
    display:inline-block;
    width:10%;
    float:right;
    
}
header #hlogo i{
    padding-top:20px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

